<div class="form-inline">
  <div class="form-item">
    <label for="source">Source</label>
    <p-dropdown id="source"
                [options]="sources"
                [(ngModel)]="SelectedSource"
                placeholder="Select Source">
    </p-dropdown>
  </div>

  <div class="form-item">
    <label for="criteria">Criteria</label>
    <p-dropdown id="source"
                [options]="Criteria"
                [(ngModel)]="selectedCriteria"
                placeholder="Select Source">
    </p-dropdown>
  </div>

  <div class="form-item button-item">
    <p-button label="Submit"
              (click)="loadCriteriatable()">
    </p-button>
  </div>
</div>
<br />
<!--Criteria Table-->

<p-table [value]="criteriaTable" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
    <tr>
      <th>Source</th>
      <th>isActive</th>
      <th>Status Name</th>
      <th>Criteria</th>
      <th>Feature Name</th>
      <th>Created By</th>
      <th>Created Date</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template #body let-criteriaTable>
    <tr>

      <td>{{ criteriaTable.source }}</td>
      <td><input type="checkbox" [checked]="criteriaTable.isActive" /></td>
      <td>{{ criteriaTable.statusName }}</td>
      <td>{{ criteriaTable.criteria }}</td>
      <td>{{ criteriaTable.featureName }}</td>
      <td>{{ criteriaTable.createdBy }}</td>
      <td>{{ criteriaTable.createdDate}}</td>
      <td>
        <p-button icon="pi pi-pencil" styleClass="custom-white-btn" (click)="onEditCriteria(criteriaTable)"></p-button>
        <p-button icon="pi pi-trash" styleClass="custom-white-btn" (click)="onDeleteCriteria(criteriaTable)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Edit Dialog -->
<p-dialog header="Edit Criteria" [(visible)]="displayEditDialog" [modal]="true" [style]="{width: '30vw'}">
  <div class="p-fluid">
    <div class="p-field">
      <label for="code">Source</label>
      <input id="code" type="text" pInputText [(ngModel)]="selectedCriteria.code" />
    </div>
    <div class="p-field">
      <label for="name">Criteria</label>
      <input id="name" type="text" pInputText [(ngModel)]="selectedCriteria.name" />
    </div>
    <div class="p-field">
      <label for="category">Category</label>
      <input id="category" type="text" pInputText [(ngModel)]="selectedCriteria.category" />
    </div>
    <div class="p-field">
      <label for="quantity">Quantity</label>
      <input id="quantity" type="number" pInputText [(ngModel)]="selectedCriteria.quantity" />
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" icon="pi pi-times" (click)="displayEditDialog=false"></p-button>
    <p-button label="Save" icon="pi pi-check" (click)="saveEdit()" [styleClass]="'p-button-success'"></p-button>
  </ng-template>
</p-dialog>
